.main-square {
	background-color: white;
	border: 1px solid black;
	height: 600px;
	width: 600px;
	padding: 20px;
}
.input-style {
	width: 40px;
}
.y-style {
	display: flex;
}
.flex-container {
	display: flex;
	align-items: flex-end;
}
.margin-r {
	margin-right: 10px;
}
#error{
	color:red;
}

.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}